<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-md">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" [routerLink]="['/']">Accuracy</a>
        </div>

        <button class="navbar-toggler" type="button" (click)="toggleNav()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navOpen }">
            <ul class="nav navbar-nav mr-auto">
                <li><a class="nav-link" [routerLink]="['/']" (click)="setTitle('Accuracy Accounting Firm')" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a class="nav-link" [routerLink]="['/services']" (click)="setTitle('Accuracy | Services')" routerLinkActive="active-link">Services</a></li>
                <li><a class="nav-link" [routerLink]="['/pricing']" (click)="setTitle('Accuracy | Pricing')" routerLinkActive="active-link">Pricing</a></li>
                <li><a class="nav-link" [routerLink]="['/about']" (click)="setTitle('Accuracy | About')" routerLinkActive="active-link">About</a></li>
                <li><a class="nav-link" [routerLink]="['/faq']" (click)="setTitle('Accuracy | FAQ')" routerLinkActive="active-link">FAQs</a></li>
                <li><a class="nav-link" [routerLink]="['/contact']" (click)="setTitle('Accuracy | Contact')" routerLinkActive="active-link">Contact</a></li>       
            </ul>
        </div>
    </div>
</nav>