<div class="service-obj">
  <h1>Our <span class="highlight">Accounting</span> Services</h1>
  <p>
    We believe our job is not just to help with audits and statements but to set
    you up for success and financial stability. That is why we strive to provide
    strong client-advisor relationships that will allow you to get the advice
    you need when you need it. You will be kept in-the-loop at all times, and we
    are constantly innovating new systems to help you better manage your
    finances.
  </p>
  <p>
    For more information, click on any of our services to read about our
    approach, or see our monthly <a class="highlight" [routerLink]="['/pricing']">pricing</a> plans.
    You may also schedule a
    <a class="highlight" [routerLink]="['/pricing']">free consultation</a> with our skilled advisors
    to get a better picture of how our services can help you acheive your goals.
  </p>
</div>
