<div id="about-page">
  <div class="title text-center">
    About Accuracy
    <a
      ><div class="btn-custom btn-custom-blue" [routerLink]="['/pricing']">
        Join Accuracy
      </div></a
    >
  </div>
  <div class="main-para">
    <div class="text-center">Who We Are</div>
    <div class="text-center subtitle-black">About Accuracy</div>
    <div>
      Insert brief company history. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Nam rutrum risus eu commodo finibus. Donec in nulla
      ornare, ultrices metus nec, ornare erat. Integer convallis magna pretium
      mauris dignissim luctus. Integer condimentum nunc at rhoncus tincidunt.
      Pellentesque sit amet lacus dapibus, dignissim mauris sit amet, mattis
      eros. Vivamus lacus felis, varius sed sem eget, tempor finibus ex. Aenean
      non nunc eget orci fermentum auctor eu id eros. Fusce mattis, sapien quis
      commodo faucibus, erat ante rhoncus sem, eget semper enim.
    </div>
  </div>

  <div class="p-img parallax-img1">
    <div class="caption"><span>Our Mission</span></div>
  </div>

  <div id="mission">
    <div class="text-center">
      You make your goals.
      <br />
      <span class="highlight">We help you acheive them.</span>
    </div>

    <div>
      At Accuracy, we are strong believers in innovative thinking. We encourage
      businesses to look beyond common practices and initiate the impossible!
      That's why we understand that your financial goals are yours to decide -
      and will be totally unique! With intelligent advisors, top-of-line
      technology and strong customer service, we are committed to helping
      <span class="highlight">you make your dreams a reality.</span>
    </div>
  </div>

  <div class="p-img parallax-img2">
    <div class="caption"><span>Meet Our Board of Directors</span></div>
  </div>

  <div id="board-directors">
    <!--FIXME: Extra padding at the bottom-->
    <div>
      <app-people></app-people>
    </div>
  </div>
</div>
