@import "../../scss/parallax";
@import "../../scss/fonts";
@import "../../scss/buttons";

div {
  .title {
    background-image: url("../../assets/images/light-bulb.jpg");
  }
}

#company-history {
  margin: 4% 10%;

  div:nth-child(1) {
    font-family: "Open Sans Condensed";
    font-weight: bold;
    font-size: 5vw;
    color: darken(rgb(28, 202, 202), 5%);
  }

  div:nth-child(3) {
    margin-top: 2%;
    font-family: "Source Sans Pro";
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  #company-history {
    margin: 2% 8%;

    div:nth-child(1) {
      font-size: 2.5vw;
    }

    div:nth-child(3) {
      font-size: 2vw;
    }
  }
}

@media only screen and (min-width: 1025px) {
  #company-history {
    margin: 2% 8%;

    div:nth-child(1) {
      font-size: 2vw;
    }
  }
}
