<div id="about-page">
  <div class="title text-center">
    About Accuracy
    <a href="#"><div class="btn-custom btn-custom-blue">Join Accuracy</div></a>
  </div>
  <div id="company-history">
    <div class="text-center">Who We Are</div>
    <div class="text-center subtitle-black">About Accuracy</div>
    <div>
      Insert brief company history. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Nam rutrum risus eu commodo finibus. Donec in nulla
      ornare, ultrices metus nec, ornare erat. Integer convallis magna pretium
      mauris dignissim luctus. Integer condimentum nunc at rhoncus tincidunt.
      Pellentesque sit amet lacus dapibus, dignissim mauris sit amet, mattis
      eros. Vivamus lacus felis, varius sed sem eget, tempor finibus ex. Aenean
      non nunc eget orci fermentum auctor eu id eros. Fusce mattis, sapien quis
      commodo faucibus, erat ante rhoncus sem, eget semper enim.
    </div>
  </div>

  <div>Mission Statement</div> <!--TODO: Mission statement-->

  <div class="p-img parallax-img1">
      <div class="caption"><span>Meet Our Board of Directors</span></div>
  </div>

  <div id="board-directors"> <!--FIXME: Extra padding at the bottom-->
    <div>
      <app-people></app-people>
    </div>
  </div>
</div>
