<div id="service-page">
  <div class="title text-center">
    Services
    <a [routerLink]="['/pricing']"
      ><div class="btn-custom btn-custom-blue">Pricing</div></a
    >
  </div>

  <div class="serve-layout">
    <div>
      <app-service-list></app-service-list>
    </div>

    <div>
      <router-outlet></router-outlet>
      <div class="b-blue">
        <hr />
        <div id="quick-notes">
          <div>
            <i class="fa-icon fa fa-3x fa-file"></i>
            <h3>Get real information.</h3>
            <p>We use modern software to efficiently produce accurate, relevant, and understandable reports. You can access your business' reports at any time.</p>
          </div>
          <div>
            <i class="fa-icon fa fa-3x fa-sitemap"></i>
            <h3>Prepare for the future.</h3>
            <p>We will create and discuss reports of your business' finances to identify weaknesses, strengths and create future plans.</p>
          </div>
          <div>
            <i class="fa-icon fa fa-3x fa-calendar"></i>
            <h3>Meet with us.</h3>
            <p>Communication is key to a successful business, and we're always ready to talk! Schedule an appointment with us at your convenience.</p>
          </div>
          <div>
            <i class="fa-icon fa fa-3x fa-coffee"></i>
            <h3>Relax!</h3>
            <p>We take care of the boring details so that you don't have to!</p>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
