<div id="service-page">
  <div class="title text-center">
    Services
    <a href="#"><div class="btn-custom btn-custom-blue">Pricing</div></a>
  </div>

  <div class="serve-layout">
    <div>
      <app-service-list></app-service-list>
    </div>

    <div>
      <app-service-detail
        *ngIf="selectedService; else baseTest"
        [service]="selectedService"
      ></app-service-detail>
      <ng-template #baseTest>
        <app-service-info></app-service-info>
      </ng-template>
    </div>
  </div>
</div>
