@import "../../../scss/globals";

.cal {
  height: auto;
  margin: 2% 0;

  .main {
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: #232227;

    .month {
      padding: 5% 8%;
      text-align: center;

      .cal-title {
        text-align: center;
        padding: 2% 0;
        font-family: "Prompt";
        color: white;
        font-size: 5vw;
      }

      .cal-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;

        width: auto;
        font-size: 4vw;
        font-family: "Source Sans Pro";
        font-weight: bold;

        .day-head {
          color: $highlight-color; //FIXME: Closed on Sundays so change color
        }

        .day {
          color: #ecece7;

          &:hover {
            color: $highlight-color;
            transition: 0.3s ease;
          }
        }

        .day-no-click {
          color: gray;
        }
      }
    }
  }
}

.cal-details {
  font-family: "Source Sans Pro";
  margin: 0;
  padding: 0;
  div:nth-child(1) {
    font-size: 5vw;
    text-align: center;
  }
  form {
    div {
      margin: 2% 0;
      input,
      select {
        border: solid 2px darken(rgb(214, 214, 214), 10%);
        width: 100%;
        height: 40px;
      }
      input {
        padding: 2%;
      }
      button {
        padding: 2% 0;
        height: 50px;
        border: solid 2px rgb(214, 214, 214);
        width: 100%;
        color: black;
        font-size: 20px;
        &:hover,
        &:focus {
          background-color: rgb(216, 216, 216);
        }
      }
    }
  }
}

.day-current {
  color: $highlight-color;
}

@media only screen and (min-width: 641px) and (max-width: 759px) {
  .cal > .main > .month {
    .cal-title {
      font-size: 3vw;
    }

    .cal-grid {
      font-size: 2.2vw;
    }
  }

  .cal-details {
    div:nth-child(1) {
      font-size: 3vw;
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  #book-client {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    grid-auto-flow: row;
  }

  .cal > .main > .month {
    .cal-title {
      font-size: 3vw;
    }

    .cal-grid {
      font-size: 2.2vw;
    }
  }

  .cal-details {
    div:nth-child(1) {
      font-size: 3vw;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 1025px) {
  #book-client {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    grid-auto-flow: row;
  }

  .cal > .main > .month {
    .cal-title {
      padding: 2% 0;
      font-size: 2vw;
    }

    .cal-grid {
      font-size: 1.5vw;
    }
  }

  .cal-details {
    div:nth-child(1) {
      font-size: 2vw;
      text-align: left;
    }
  }
}
