<div id="price-page">
  <div class="title text-center">
    Pricing
  </div>
</div>

<div id="price-cards">
  <div class="p-title">Monthly Rates</div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Start-Up</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">$250 <small>/ m</small></h1>
          <ul class="list-unstyled">
            <li>Bank Reconciliation</li>
            <li>Financial Statements</li>
            <li>Year-End Financial Reporting</li>
            <li>Filing Sales Tax</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="highlight">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">
            <span class="highlight">$310 </span> <small>/ m</small>
          </h1>
          <ul class="list-unstyled">
            <li>Bank Reconciliation</li>
            <li>Financial Statements</li>
            <li>Mid + Year-End Financial Reporting</li>
            <li>Filing Sales Tax</li>
            <li>Corportate Tax Returns</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">$390 <small>/ m</small></h1>
          <ul class="list-unstyled">
            <li>Bank Reconciliation</li>
            <li>Financial Statements</li>
            <li>Mid + Year-End Financial Reporting</li>
            <li>Filing Sales Tax</li>
            <li>Corportate Tax Returns</li>
            <li>Tax Optimization Strategies</li>
            <li>Payroll Support Services</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h5>
    Custom plan?
    <a class="highlight" [routerLink]="['/contact']">Contact us</a>!
  </h5>
  <hr />

  <div>
    <div class="p-title">
      Book a <span class="highlight">Free</span> Consultation
    </div>
    <app-calendar></app-calendar>
  </div>
</div>
