<div id="price-page">
  <div class="title text-center">
    Pricing
  </div>
</div>

<div id="price-cards">
  <div class="p-title">Monthly Rates</div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Start-Up</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">$250 <small>/ m</small></h1>
          <ul class="list-unstyled">
            <li>Bank Reconciliation</li>
            <li>Financial Statements</li>
            <li>Year-End Financial Reporting</li>
            <li>Filing Sales Tax</li>
          </ul>
          <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="highlight">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">
            <span class="highlight">$310 </span> <small>/ m</small>
          </h1>
          <ul class="list-unstyled">
            <li>Bank Reconciliation</li>
            <li>Financial Statements</li>
            <li>Mid + Year-End Financial Reporting</li>
            <li>Filing Sales Tax</li>
            <li>Corportate Tax Returns</li>
          </ul>
          <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4>Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title">$390 <small>/ m</small></h1>
          <ul class="list-unstyled">
            <li>Bank Reconciliation</li>
            <li>Financial Statements</li>
            <li>Mid + Year-End Financial Reporting</li>
            <li>Filing Sales Tax</li>
            <li>Corportate Tax Returns</li>
            <li>Tax Optimization Strategies</li>
            <li>Payroll Support Services</li>
          </ul>
          <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button> -->
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div>
    <h4>Calander</h4>
  </div>
</div>