@import "./globals";

.title {
  font-family: "Fjalla One";
  color: white;
  font-size: 6vw;
  padding: 14% 0 5% 0;
  a {
    text-decoration: none;

    div {
      text-align: center;
      margin: 5% 38% 0;
    }
  }
}

.subtitle-black {
  font-family: "Fjalla One";
  color: black;
  font-size: 2em;
}

.highlight {
  color: $highlight-color;
}