.p-img {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img1 {
  background-image: url("../../assets/images/hand-shake.jpg");
  min-height: 240px;
}

.caption {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: white;

  span {
    background-color: rgba(0, 0, 0, 0.699);
    padding: 20px;
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
  }
}
