.service-obj {
    margin-left: 4%;
  
    h1 {
      font-family: "Fjalla One";
      font-size: 6vw;
    }
  
    h3 {
      font-family: "Prompt";
    }

    p {
      font-family: "Source Sans Pro";
      font-size: 4vw;
    }

    .highlight {
      font-weight: bold;
    }
  }
  
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    .service-obj {
      h1 {
        font-size: 4vw;
      }
  
      p {
        font-size: 2vw;
      }
    }
  }
  
  @media only screen and (min-width: 1025px) {
    .service-obj {
      h1 {
        font-size: 3vw;
      }
  
      p {
        font-size: 1.3vw;
      }
    }
  }