// Colours
$primary-color: rgb(43, 180, 77);
$secondary-color: rgb(44, 43, 43);
$bg-gray: rgb(126, 125, 125);
$bg-dark: rgb(37, 36, 36);

/* Imports */
@import url("https://fonts.googleapis.com/css?family=Staatliches");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

@import "header";