<div id="home-page">
  <div id="mission-statement">
    <div>
        <h1>Insert the <span class="highlight">main</span> mission statement here.</h1>
        <p>
          Insert a brief description. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nunc sit amet enim ex. Integer porta vulputate
          consectetur. Morbi viverra leo nec diam cursus consectetur. Etiam ut
          aliquet nibh, nec euismod est.
        </p>
        <div>
          <a [routerLink]="['/pricing']"><div class="btn-custom btn-custom-blue">Join Accuracy</div></a>
          <a [routerLink]="['/services']"><div class="btn-custom btn-custom-white">Learn More</div></a>
    </div>
    </div>
  </div>
</div>
