<div id="home-page">
  <div id="mission-statement">
    <div>
      <h1>Acheive <span class="highlight">success</span> in all its forms.</h1>
      <p>
        Accuracy Accounting Firm is dedicated to developing strong
        advisor-client relations and using the advanced software to help your
        business develop financial stability. We offer bookkeeping and
        accounting services at competitive prices. Join us today!
      </p>
      <div>
        <a [routerLink]="['/pricing']"
          ><div class="btn-custom btn-custom-blue">Join Accuracy</div></a
        >
        <a [routerLink]="['/services']"
          ><div class="btn-custom btn-custom-white">Learn More</div></a
        >
      </div>
    </div>
  </div>
</div>
