<div id="faq-page">
  <div class="title text-center">
    FAQs
  </div>

  <div>
    <div class="faq-layout animated fadeIn delay-1">
      <app-faq-list></app-faq-list>
    </div>

    <div class="main-para animated fadeIn delay-1">
      <div class="text-center">Policies</div>
      <div class="text-center subtitle-black">Privacy Policy</div>
      <div>
        At Accuracy, we recognize that your trust is our greatest assest. That
        is why we are committed to maintaining the security and accuracy of
        information we collect. Any information shared with us is strictly
        confidential and will not be used in any way without your explicit
        permission. Feel free to
        <a class="highlight" [routerLink]="['/contact']">contact us</a> if you
        have any questions.
      </div>
    </div>

    <div class="main-para animated fadeIn delay-1">
      <div class="text-center">From Us to You</div>
      <div class="text-center subtitle-black">Thank You!</div>
      <div>
        Accuracy would not be the company it is today if not for the generous
        support by people like you. Whether you are a client, an employee, or
        one of our partners,
        <span class="highlight">thanks</span> for everything! We would also
        like to give credit to the incredible photographers at
        <a class="highlight" href="https://unsplash.com" target="_blank"
          >UnSplash</a
        >
        who have contributed to the success of this website!
      </div>
    </div>
  </div>
</div>
