<div id="faq-page">
  <div class="title text-center">
    FAQs
  </div>

  <div>
    <div class="faq-layout">
      <app-faq-list></app-faq-list>
    </div>

    <div class="main-para">
      <div class="text-center">Policies</div>
      <div class="text-center subtitle-black">Privary Policy</div>
      <div>
        Insert brief note about privacy policies (and credits?). Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Nam rutrum risus eu commodo
        finibus. Donec in nulla ornare, ultrices metus nec, ornare erat. Integer
        convallis magna pretium mauris dignissim luctus. Integer condimentum
        nunc at rhoncus tincidunt. Pellentesque sit amet lacus dapibus,
        dignissim mauris sit amet, mattis eros. Vivamus lacus felis, varius sed
        sem eget, tempor finibus ex. Aenean non nunc eget orci fermentum auctor
        eu id eros. Fusce mattis, sapien quis commodo faucibus, erat ante
        rhoncus sem, eget semper enim.
      </div>
    </div>
  </div>
</div>
