@import "../../scss/fonts";
@import "../../scss/buttons";
@import "../../scss/parallax";

div {
  .title {
    background-image: url("../../assets/images/space-room.jpg");
  }
}

.c-info {
  margin: 4% 10%;
  div {
    div:nth-child(1) {
      text-align: center;
      font-family: "Fjalla One";
      font-size: 4vw;
    }
    div:nth-child(2) {
      font-family: "Prompt";
      font-size: 3.5vw;

      form > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5%;
        grid-auto-flow: row;

        div {
          h5 {
            font-family: "Prompt";
            margin: 3% 0;
            font-size: 4vw;
          }
          select {
            width: 100%;
            margin: 2% 0;
            font-size: 4vw;
          }
        }
      }

      .loc {
        margin-top: 2%;
        font-size: 4vw;
      }
    }

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8%;
      grid-auto-flow: row;

      div {
        font-family: "Prompt";
        font-size: 3vw;
      }

      div:nth-child(1) {
        text-align: right;
      }
      div:nth-child(2) {
        text-align: left;
      }
    }
  }
}

.form-box {
  background-color: white;
  font-family: "Prompt";

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  section {
    padding: 5% 20%;
  }

  label {
    z-index: 1;
    display: block;
    position: absolute;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    font-weight: 200;
    line-height: 10px;
    color: darken($highlight-color, 10%);
    font-size: 18px;
    left: 25px;
    top: 25px;
    transition: 0.3s ease-in-out;
  }

  input {
    position: relative;
    background-color: white;
    border: solid 2px darken(rgb(214, 214, 214), 10%);
    width: 100%;
    height: 60px;
    padding: 25px;
    margin-bottom: 20px;

    &:focus {
      background-color: white;
    }

    &:focus + label {
      font-size: 12px;
      top: 10px;
      left: 25px;
    }
  }

  textarea {
    height: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    border: solid 2px darken(rgb(214, 214, 214), 10%);
    padding: 25px;
    margin-bottom: 20px;

    &:focus {
      background-color: white;
    }

    &:focus + label {
      font-size: 12px;
      top: 10px;
      left: 25px;
    }
  }

  .square-button {
    padding: 0 60px;
    height: 60px;
    border: solid 2px rgb(214, 214, 214);
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 26px;
    &:hover,
    &:focus {
      background-color: rgb(216, 216, 216);
    }
  }
}

.fontTop {
  font-size: 12px !important;
  top: 10px !important;
}

@media only screen and (min-width: 641px) and (max-width: 759px) {
  .c-info {
    margin: 2% 8%;
    div {
      div:nth-child(1) {
        font-size: 3vw;
      }
      div:nth-child(2) {
        font-size: 2.5vw;

        form > div {
          grid-template-columns: 1fr 1fr;
          grid-gap: 5%;

          div {
            h5 {
              font-size: 3vw;
            }
            select {
              margin: 2% 0;
              font-size: 2.8vw;
            }
          }
        }

        .loc {
          font-size: 3vw;
        }
      }
      section {
        grid-gap: 5%;

        div {
          font-size: 3vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
  .c-info {
    margin: 2% 8%;
    div {
      div:nth-child(2) {
        form > div > div {
          h5 {
            font-size: 2.5vw;
          }
          select {
            font-size: 2vw;
          }
        }
        .loc {
          font-size: 2.5vw;
        }
      }
      section {
        grid-gap: 5%;

        div {
          font-size: 2.2vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .c-info {
    margin: 2% 8%;
    div {
      div:nth-child(1) {
        font-size: 2vw;
      }
      div:nth-child(2) {
        font-size: 1.5vw;

        form > div {
          grid-template-columns: 1fr 1fr;
          grid-gap: 5%;

          div {
            h5 {
              font-size: 1.5vw;
            }
            select {
              margin: 2% 0;
              font-size: 1.5vw;
            }
          }
        }
        .loc {
          font-size: 1.5vw;
        }
      }
      section {
        grid-gap: 5%;

        div {
          font-size: 1.8vw;
        }
      }
    }
  }

  .form-box {
    section {
      width: 80%;
      margin: auto;
    }
  }
}
