<div id="contact-page">
  <div class="title text-center">
    Contact Accuracy
  </div>
</div>

<div class="c-info row">
  <div class="col-md-6">
    <div class="wow fadeIn delay-1">- Find a Location -</div>
    <div class="wow fadeIn delay-2">
      <form class="location-form">
        <div>
          <div>
            <h5>Country</h5>
          </div>
          <div>
            <select name="country" [(ngModel)]="typeRegion">
              <option value="State">America</option>
              <option value="Province">Canada</option>
            </select>
          </div>
        </div>
        <div>
          <div>
            <h5>{{ typeRegion }}</h5>
          </div>
          <div>
            <app-region-list
              [region]="typeRegion"
              (locationChange)="locChange($event)"
            ></app-region-list>
          </div>
        </div>
      </form>
      <div class="loc text-center">Location: {{ newLocation }}</div>
    </div>
    <hr />
  </div>

  <div class="col-md-6 wow fadeIn delay-3">
    <div>- Hours -</div>
    <section>
      <div>Monday - Friday<br />Saturday<br />Sunday</div>
      <div>8:00 - 18:00<br />9:30 - 17:00<br />Closed</div>
    </section>
  </div>
</div>

<div class="p-img parallax-img3">
  <div class="caption"><span>Say Hello</span></div>
</div>

<div class="form-box">
  <section class="form-box" id="email-form">
    <form class="contact-form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6" [formGroup]="contactForm">
          <input type="text" name="First" formControlName="contactFormFirst" #word (blur)="smallText(word.value)"/>
          <label [ngClass]="{'fontTop': iftask}">First Name</label>
        </div>
        <div class="col-md-6" [formGroup]="contactForm" >
          <input type="text" name="Last" formControlName="contactFormLast" #word2 (blur)="smallText2(word2.value)"/>
          <label [ngClass]="{'fontTop': iftask2}">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" [formGroup]="contactForm" >
          <input type="email" name="Email" formControlName="contactFormEmail" #word3 (blur)="smallText3(word3.value)"/>
          <label [ngClass]="{'fontTop': iftask3}">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" [formGroup]="contactForm" >
          <input type="text" name="Subject" formControlName="contactFormSubject" #word4 (blur)="smallText4(word4.value)"/>
          <label [ngClass]="{'fontTop': iftask4}">Subject</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" [formGroup]="contactForm" >
          <textarea rows="3" type="text" name="Message" formControlName="contactFormMessage" #word5 (blur)="smallText5(word5.value)"></textarea>
          <label [ngClass]="{'fontTop': iftask5}">Message</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="square-button" [disabled]="disabledSubmitButton">Submit</button>
        </div>
      </div>
    </form>
  </section>
</div>
